body {
    margin: 0;
    background-color: #2196F3;
}

p,
a {
    font-family: 'Open Sans', sans-serif;
}

#icon-container {
    height: 400px;
    width: 100%;
    text-align: center;
    float: left;
}

#navbar-container {
    height: 450px;
    width: 670px;
    float: left;
    text-align: left;
}

.pages {
    height: 760px;
    width: 100%;
    float: left;
}

.background-page1 {
    background-color: white;
}

.background-page2 {
    background-color: lightblue;
}

.background-page3 {
    background-color: salmon;
}

.background-page4 {
    background-color: lightyellow;
}

.spacing-30 {
    height: 30px;
    width: 100%;
    float: left;
}

.spacing-80 {
    height: 80px;
    width: 100%;
    float: left;
}

.spacing-100 {
    height: 100px;
    width: 100%;
    float: left;
    margin: 30px;
}

.spacing-200 {
    margin-top: 200px;
    float: left;
    width: 100%;
}

.side-by-side-container {
    height: 300px;
    width: 25%;
    float: left;
}

.button {
    background-color: #2196f3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.icon {
    height: 300px;
    width: 300px;
    opacity: 1;
    filter: alpha(opacity=100);
    margin: auto;
    background: url(../img/icon.png);
    background-size: 100% 100%;
    margin-top: 5%;
}

.ari {
    height: 300px;
    width: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    float: left;
    opacity: 1;
    filter: alpha(opacity=100);
    background: url(../img/ari.jpg) no-repeat;
    background-size: 100% 100%;
}

.brian {
    height: 300px;
    width: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    float: left;
    opacity: 1;
    filter: alpha(opacity=100);
    background: url(../img/brian.jpg) no-repeat;
    background-size: 100% 100%;
}

.juan {
    height: 300px;
    width: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    float: left;
    opacity: 1;
    filter: alpha(opacity=100);
    background: url(../img/juan.jpg) no-repeat;
    background-size: 100% 100%;
}

.justin {
    height: 300px;
    width: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    float: left;
    opacity: 1;
    filter: alpha(opacity=100);
    background: url(../img/justin.jpg) no-repeat;
    background-size: 100% 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
}

li {
    display: inline;
}

.font-110 {
    font-size: 110%;
}

.font-350 {
    font-size: 350%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.font-140 {
    font-size: 140%;
    font-family: 'Open Sans', sans-serif;
}

.font-160 {
    width: 330px;
    font-size: 160%;
    margin-top: 100px;
    margin-left: 3%;
    float: left;
    color: white;
}

.font-250 {
    font-size: 250%;
    text-align: center;
}

.font-400 {
    font-size: 400%;
    text-align: center;
}

.font-500 {
    font-size: 500%;
    color: #2f4f4f;
}

.right-font {
    color: rgba(0, 0, 0, 0.5);
}

.opacity {
    color: rgba(0, 0, 0, 0.5);
}

.float-right {
    float: right;
}

.margin-left-2 {
    margin-left: 2%;
}

.word-spacing {
    word-spacing: 2px;
}

.margin-left-20 {
    margin-left: 20%;
}

.margin-left-50px {
    margin-left: 50px
}

.names-container {
    height: 60px;
    width: 100%;
    clear: right;
}

hr {
    clear: left;
}

.quote-container {
    width: 100%;
    margin: 90px 100px 150px 70px;
    float: left;
}

.centering {
    width: 60%;
    margin: auto;
    display: block;
}

.pic-container-1 {
    width: 25%;
    height: 520px;
    background: url("../img/andrea.jpg");
    background-size: cover;
    background-size: 100% 100%;
    float: left;
}

.pic-container-2 {
    width: 25%;
    height: 520px;
    background: url("../img/cheryl2.jpg");
    background-size: cover;
    background-size: 100% 100%;
    float: left;
}

.pic-container-3 {
    width: 25%;
    height: 520px;
    background: url("../img/daniel.jpg");
    background-size: cover;
    background-size: 100% 100%;
    float: left;
}

.pic-container-4 {
    width: 25%;
    height: 520px;
    background: url("../img/matt.jpg");
    background-size: cover;
    background-size: 100% 100%;
    float: left;
}

.pic-container-5 {
    width: 25%;
    height: 520px;
    background: url("../img/steve.jpg");
    background-size: cover;
    background-size: 100% 100%;
    float: left;
}

.pic-container-6 {
    width: 25%;
    height: 520px;
    background: url("../img/shant21.jpg");
    background-size: cover;
    background-size: 100% 100%;
    float: left;
}

.pic-container-7 {
    width: 25%;
    height: 520px;
    background: url("../img/alex2.jpg");
    background-size: cover;
    background-size: 100% 100%;
    float: left;
}

.pic-container-8 {
    width: 25%;
    height: 520px;
    background: url("../img/cheryl2.jpg");
    background-size: cover;
    background-size: 100% 100%;
    float: left;
}

.red-line {
    width: 5px;
    border-top: 17px;
    border-color: red;
    float: left;
}

.footer {
    width: 100%;
    height: 325px;
    background-color: #1f2424;
    float: left;
}

.long-list-container-1 {
    height: 175px;
    width: 15%;
    float: left;
    margin-top: 80px;
    margin-left: 200px;
    line-height: 50%;
    color: white;
}

.long-list-container-2 {
    height: 175px;
    width: 15%;
    float: left;
    margin-top: 80px;
    margin-left: -40px;
    line-height: 50%;
    color: white;
}

.long-list-container-3 {
    height: 175px;
    width: 15%;
    float: left;
    margin-top: 80px;
    margin-left: -40px;
    line-height: 50%;
    color: white;
}

.metalab-sizing {
    height: 75px;
    width: 118px;
}

.logo-spacing {
    margin-top: 75px;
}

.logo-positioning {
    margin-top: 100px;
    margin-left: 160px;
    float: left;
}

.inverted {
    filter: invert(100%);
}

.red-bar {
    background-color: #d00d20;
    height: 2px;
    width: 20px;
    clear: right;
    margin-left: 50px;
}

.quote-red-bar {
    background-color: #df8686;
    height: 3px;
    width: 20px;
    clear: right;
    margin-left: 340px;
}